{% extends 'base.html' %}

{% block content %}
<div class="hero page-inner overlay" 
style="background-image: url('https://blog.kakaocdn.net/dn/o1KIw/btqu9mflPY6/rGk1mM3iugV1c6jj9Z3E80/img.jpg')">
<div class="container">
<div class="row justify-content-center align-items-center">
    <div class="col-lg-9 text-center mt-5">
    <h1 class="heading" data-aos="fade-up">{{ selected_destination.title }}</h1>

    <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
        <ol class="breadcrumb text-center justify-content-center">
        <li class="breadcrumb-item active text-white-50">Recommendations</li>
        <li 
            class= "breadcrumb-item active text-white-50"
            aria-current="page">Detail</li>
        </ol>
    </nav>
    </div>
</div>
</div>
</div>


<div class="section">
    <div class="container">
        <div class="row justify-content-between">       
            <div class="col-lg-7">
                <div class="img-property-slide-wrap">
                    <div class="img-property-slide">
                        {% if selected_destination.selected_image_url %}
                            <img src="{{ selected_destination.selected_image_url }}" alt="{{ selected_destination.title }} 이미지" class="img-fluids"/>
                        {% else %}
                            <!-- 이미지가 없는 경우 대체 이미지를 표시 -->
                            <img src="https://blog.kakaocdn.net/dn/Hh733/btrcA1znbC9/m3cFIkMBMYyJlnHe7WBiN1/img.gif" alt="{{ selected_destination.명칭 }} 이미지" class="img-fluids" />
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-lg-4">

                <h4> 상세 정보 </h4>
                <p class="meta">{{ selected_destination.address }}</p>
                        
                <p class="text-black-50">
                {% comment %} {{ selected_destination.overview_prep }}</p> {% endcomment %}
                {{ selected_destination.overview }}</p>

                <p class="text-black-50">
                    구글 평점: {{ selected_destination.rating }} 점
                    <br>
                    구글 리뷰 수: {{ selected_destination.reviews }} 개
                </p>
                <h4>주소</h4>   
                <p class="text-black-50">{{ selected_destination.addr1 }} </p>
                <h4>오늘의 날씨</h4>
                <p>
                    {% for info in selected_destination.weather_info %}
                        {% for category, value in info.items %}
                            <p>{{ category }}: {{ value }}</p>
                        {% endfor %}
                    {% endfor %}
                </p>

            </div>
            
        </div>
        <div class="d-block agent-box p-4">
            <h4>위치 정보</h4>
            <iframe srcdoc="{{ selected_destination.map }}" width="100%" height="500px"></iframe>
        </div>
    </div>
</div>

{% endblock %}