{% extends 'base.html' %}

{% block content %}

<link rel=“stylesheet” href=“https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap” />

<div class="hero">
    <div class="hero-slide">
        <div
        class="img overlay"
        style="background-image: url('https://t4.ftcdn.net/jpg/05/26/12/59/360_F_526125944_Z01KZKcnbOBf4KM4WGXlIb5rW4dK1vOp.jpg')"
        ></div>
        <div
        class="img overlay"
        style="background-image: url('https://d2ur7st6jjikze.cloudfront.net/offer_photos/100626/546238_large_1605746699.jpg?1605746699')"
        ></div>
        <div
        class="img overlay"
        style="background-image: url('https://api.cdn.visitjeju.net/photomng/imgpath/202111/15/2bb7145b-d0f8-406d-9a4f-258e6f60c37d.jpg')"
        ></div>
        <div
        class="img overlay"
        style="background-image: url('https://ssmenews.com/news/data/20220224/p1065580876219594_687_thum.jpg')"
        ></div>
        <div
        class="img overlay"
        style="background-image: url('https://d2ur7st6jjikze.cloudfront.net/offer_photos/142219/913230_large_1699347290.jpg?1699347290')"
        ></div>
        <div
        class="img overlay"
        style="background-image: url('https://api.cdn.visitjeju.net/photomng/imgpath/202201/17/148eb222-002a-49ff-9ae8-9f9f7d634e6c.jpg')"
        ></div>
        <div
        class="img overlay"
        style="background-image: url('https://c2.staticflickr.com/6/5795/30527709436_61437900d3_b.jpg')"
        ></div>
        <div
        class="img overlay"
        style="background-image: url('https://www.lotteresort.com/static/upload/editor/image/89ae0098-5b69-43cb-a059-f0d469452d9d.jpg')"
        ></div>
    </div>
    
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center">
                <h1 class="heading" data-aos="fade-up">
                    제주 여행지를 찾는 가장 쉬운 방법
                </h1>
                <form
                    method="get" action="{% url 'rec_app:rec_input' %}"
                    class="narrow-w form-search d-flex align-items-stretch mb-3"
                    data-aos="fade-up"
                    data-aos-delay="200">
                    {% csrf_token %}
                    <div class="rec_start mx-auto">
                        <button type="submit" class="btn btn">추천 받기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
{% endblock %}