{% extends "base.html" %}
{% block content %}
<style>
    /* Form 스타일링 */
    form {
        max-width: 400px;
        margin: 50px auto 0; /* 위쪽 여백 추가 */
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        

    }

    /* 입력 필드 스타일링 */
    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box; /* 입력 필드 패딩 및 테두리를 요소의 크기에 포함 */
    }

    /* 버튼 스타일링 */
    button {
        width: 100%;
        background-color: #005555;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: block; /* 블록 요소로 설정하여 가로폭을 100%로 만듭니다. */
        margin: auto; /* 수직 가운데 정렬을 위해 상하 여백을 자동으로 설정합니다. */
    
    }

    /* 버튼 호버 효과 */
    button:hover {
        background-color: #005555;
    }

    
</style>

<form method='POST'>
    {% csrf_token %}
    {{ form.as_p }}
    <p style="text-align: center;">
        <button type="submit" class="btn btn-primary">LogIn</button>
    </p>
</form>
{% endblock content %}




