{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주에서 어디올레?</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="container">
        <!-- Navigation Bar -->
        <div class="nav-bar">
            <h1>제주에서 어디올레?</h1>
        </div>
        <div class="nav-links">
            <a href="{% url 'rec_app:rec_input' %}" class="text-gray-700 hover:text-gray-600">Home</a>
            <a href="{% url 'rec_app:map' %}" class="text-gray-700 hover:text-gray-600">Map</a>
            <a href= "{% url 'rec_app:about' %}" class="text-gray-700 hover:text-gray-600">About</a>
            <a href="{% url 'rec_app:rec_place' %}" class="text-gray-700 hover:text-gray-600">Others..</a>
        </div>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <h2 class="text-gray-700 font-bold mb-6">여행지 추천받기</h2>
        <form method="post" action="{% url 'rec_app:recommended_places' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="user_input">당신이 원하는 여행지는?:</label>
                <input type="text" name="user_input" required>
            </div>
            <br>
            <div class="form-group">
                <label for="address_input">현재 주소 혹은 여행 예정 주소지를 입력해주세요:</label>
                <input type="text" name="address_input" required>
            </div>
            <button type="submit">추천 받기</button>
        </form>
    </div>

</body>

</html>
