{% extends 'base2.html' %}

{% block content %}
<div
class="hero page-inner overlay"
style="background-image: url('https://blog.kakaocdn.net/dn/o1KIw/btqu9mflPY6/rGk1mM3iugV1c6jj9Z3E80/img.jpg')"
>
    
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center">
                <h1 class="heading" data-aos="fade-up">
                    제주 여행지를 찾는 가장 쉬운 방법
                </h1>
                <form method="post" action="{% url 'rec_app:rec_input' %}" class="narrow-w form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
                    {% csrf_token %}
                    <input type="text" class="form-control px-4" name="user_input" placeholder="당신이 원하는 여행 타입을 입력해주세요" />
                    <div class="user-input">
                        <button type="submit" class="btn btn-primary">search</button>
                    </div>
                </form>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <h1 class="heading" data-aos="fade-up">
                    제주 여행지를 찾는 가장 쉬운 방법 2번째
                </h1>
                <form method="post" action="{% url 'rec_app:rec_address' %}" class="narrow-w form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
                    {% csrf_token %}
                    <input type="text" class="form-control px-4" name="second_user_input" placeholder="당신이 원하는 여행 타입을 입력해주세요" />
                    <input type="text" class="form-control px-4" name="address_input" placeholder="현재 주소 혹은 여행 예정 주소지를 입력해주세요" />
                    <div class="second_user-input">
                        <button type="submit" class="btn btn-primary">search</button>
                    </div>
                </form>
            </div>

        </div>
    </div>


{% endblock %}