{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주에서 어디올레?</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="container">
        <!-- Navigation Bar -->
        <div class="nav-bar">
            <h1>제주에서 어디올레?</h1>
        </div>
            <div class="nav-links">
                <a href="{% url 'rec_app:recommendation_input' %}" class="text-gray-700 hover:text-gray-600">Home</a>
                <a href= "{% url 'rec_app:about' %}" class="text-gray-700 hover:text-gray-600">About</a>
                <a href="#" class="text-gray-700 hover:text-gray-600">Others..</a>
            </div>
        </div>
    </div>

        {% comment %} <img src="{% static '/images/jeju.png' %}" alt="Background Image" class="background-image"> {% endcomment %}

</body>

    <!-- Main Content -->
    <div class="main-content">
        <h2 class="text-gray-700 font-bold mb-6">여행지 추천받기</h2>
        <form method="post" action="{% url 'rec_app:recommendation_input' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="user_input">당신이 원하는 여행지는?:</label>
                <input type="text" name="user_input" required>
            </div>
            <br>
            <div class="form-group">
                <label for="address_input">현재 주소를 입력해주세요:</label>
                <input type="text" name="address_input" required>
            </div>
            <button type="submit">추천 받기</button>
        </form>
        

    </div>

    {% if result_df %}
        <h2>추천 결과</h2>
        <table border="1">
            <tr>
                <th>여행지 명칭</th>
                <th>가중 평점</th>
                <th>개요</th>
                <th>유사도</th>
            </tr>
            {% for index, row in result_df.iterrows %}
                <tr>
                    <td><a href="{% url 'rec_app:detail' index %}">{{ row.명칭 }}</a></td>
                    <td>{{ row.weighted_평점 }}</td>
                    <td>{{ row.개요 }}</td>
                    <td>{{ row.similarity }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

</html>