<!-- base.html -->
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}제주에서 어디올레?{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="container">
        <!-- Navigation Bar -->
        <div class="nav-bar">
            <h1>제주에서 어디올레?</h1>
        </div>
        <div class="nav-links">
            <a href="{% url 'rec_app:rec_input' %}" class="Home">Home</a>
            <a href="{% url 'rec_app:map' %}" class="Map">Map</a>
            <a href="{% url 'rec_app:about' %}" class="About">About</a>
            <a href="{% url 'rec_app:rec_place' %}" class="Others">Other</a>
        </div>
    </div>

    <!-- Content Block -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>
