<!DOCTYPE html>
{% load static %}

<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="Untree.co" />
        <link rel="shortcut icon" href="{% static 'images/hallabong.png' %}" />

        <meta name="description" content="" />
        <meta name="keywords" content="bootstrap, bootstrap5" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
        rel="stylesheet"/>

        <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" />
        <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}" />
        <link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}" />
        <link rel="stylesheet" href="{% static 'css/aos.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />

        <title>
        제주에서 어디올레? &mdash; 여행지 추천 서비스
        </title>
    </head>

    <body>
        <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
        </div>

        <nav class="site-nav">
          <div class="container">
            <div class="menu-bg-wrap">
              <div class="site-navigation">
                <a href="{% url 'rec_app:home' %}" class="logo m-0 float-start">제주에서 어디올레?</a>

                <ul
                class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end"
                >
                <li class="active"><a href="{% url 'rec_app:home' %}" class="Home">Home</a>
                <li class="active"><a href="{% url 'rec_app:map' %}" class="Map">Map</a>
                <li class="active"><a href="{% url 'rec_app:about' %}" class="About">About</a>
                </ul>

                <a
                href="#"
                class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
                data-toggle="collapse"
                data-target="#main-navbar"
                >
                <span></span>
                </a>
              </div>
            </div>
          </div>
        </nav>

        {% block content %}
        
        {% endblock %}
        <div class="row mt-5">
            <div class="col-12 text-center">
          
              <p>
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                . All Rights Reserved. &mdash; Designed by 4조
              </p>
              
            </div>
          </div>
        </div>
        <!-- /.container -->
      </div>
      <!-- /.site-footer -->
  
        <!-- Preloader -->
        <script src="{% static 'js/tiny-slider.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/aos.js' %}"></script>
        <script src="{% static 'js/navbar.js' %}"></script>
        <script src="{% static 'js/counter.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
    </body>
</html>
